@model Fyp.Models.Kyc
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Kyc Form</title>
    <style>
        label{
            font-family: Georgia, serif;
            font-weight:bold;
            
        }

    </style>
</head>
<body>

<h4 class="text-center">KYC Form</h4>

    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create" >
               
                    <h4 style="font-family:Georgia, serif;">Personal Details</h4>
                <hr/>

                    <label >1) Name of the Applicant</label>
                <div class="form-group row">
                    <div class="col-md-6">
                            
                        <input  asp-for="FirstName" class="form-control form-control-lg" style="margin-bottom: 10px;"   />
                            <small class="text-muted">First Name</small><br />
                            <span asp-validation-for="FirstName" class="text-danger"></span>


                    </div>
                    <div class="col-md-6">
                            <input  asp-for="LastName" class="form-control form-control-lg" style="margin-bottom: 10px;"  />
                            <small class="text-muted">Last Name</small><br />
                            <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>

                    <label >2) Father's/Mother's Name</label>

                <div class="form-group row">
                    <div class="col-md-6">
                            
                            <input asp-for="FatherFirstName" class="form-control form-control-lg" style="margin-bottom: 10px;"  />
                            <small class="text-muted">First Name</small><br />
                            <span asp-validation-for="FatherFirstName" class="text-danger"></span>

                    </div>
                    <div class="col-md-6">
                           
                            <input asp-for="FatherLastName" class="form-control form-control-lg" style="margin-bottom: 10px;"  />
                            <small class="text-muted">Last Name</small><br />
                            <span asp-validation-for="FatherLastName" class="text-danger"></span>

                    </div>
                </div>

                    <label >3) Spouse's Name</label>

                <div class="form-group row">
                    <div class="col-md-6">
                            <input asp-for="SpouseFirstName" class="form-control form-control-lg" style="margin-bottom: 10px;" />
                            <small class="text-muted">First Name</small><br />
                            <span asp-validation-for="SpouseFirstName" class="text-danger"></span>

                    </div>
                    <div class="col-md-6">
                            <input asp-for="SpouseLastName" class="form-control form-control-lg" style="margin-bottom: 10px;"/>
                            <small class="text-muted">Last Name</small><br />
                            <span asp-validation-for="SpouseLastName" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group row">
                        <div class="col-md-6">
                            <label >4) Gender</label><br />
                            <label style="font-weight:normal"><input type="radio" asp-for="Gender" value="Male" /> Male</label><br />
                            <label style="font-weight:normal"><input type="radio" asp-for="Gender" value="Female" /> Female</label><br />
                            <label style="font-weight:normal"><input type="radio" asp-for="Gender" value="Others" /> Others</label><br />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                            <label >5) Maritial Status</label><br />  
                            <label style="font-weight:normal"><input type="radio" asp-for="MaritialStatus" value="Single" /> Single</label><br />
                            <label style="font-weight:normal"><input type="radio" asp-for="MaritialStatus" value="Married" /> Married</label><br />
                            <span asp-validation-for="MaritialStatus" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                            <label >6) DOB</label><br />                           
                            <input asp-for="Dob" class="form-control form-control-lg" style="margin-bottom: 10px;" type="date"  /><br />
                            <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                            <label >7) Nationality</label><br />
                            <input asp-for="Nationality" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="Nationality" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                            <label >8) Residental Status</label><br />
                            <label style="font-weight:normal"><input type="radio" asp-for="ResidentalStatus" value="ResidentIndividual" /> Resident Individual</label><br />
                            <label style="font-weight:normal"><input type="radio" asp-for="ResidentalStatus" value="NonResident" /> Non Resident</label><br />
                            <label style="font-weight:normal"><input type="radio" asp-for="ResidentalStatus" value="ForeignNational" /> Foreign National</label><br />
                            <span asp-validation-for="ResidentalStatus" class="text-danger"></span>

                    </div>
                    </div>
                    <label >9) PAN No.</label><br />

                    <div class="form-group row">

                    <div class="col-md-6">
                            <input asp-for="pan" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="pan" class="text-danger"></span>
                    </div>
                </div>
                    <h4 style="font-family:Georgia, serif;">Address</h4>
                    <hr />
                    <label >10) Address for Correspondence</label><br />

                <div class="form-group row">
                    <div class="col-md-6">
                            <input asp-for="StreetAddress" class="form-control form-control-lg" style="margin-bottom: 10px;" placeholder=""  />
                            <small class="text-muted">Street Address Line 1</small><br />
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>

                  </div>
                    <div class="col-md-6">
                            <input asp-for="StreetAddress2" class="form-control form-control-lg" style="margin-bottom: 10px;" placeholder=""  />
                            <small class="text-muted">Street Address Line 2</small><br />
                            <span asp-validation-for="StreetAddress2" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                            <label >11) City</label><br />
                            <input asp-for="City" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                            <label >12) State</label><br />
                            <input asp-for="State" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                            <label >13) Postal Code</label><br />
                            <input asp-for="ZipCode" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                            <label >14) Country</label><br />
                            <input asp-for="Country" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                    <h4 style="font-family:Georgia, serif;">Contact</h4>
                    <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                            <label >15) Phone No.</label><br />
                            <input asp-for="Phone" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                            <label >16) Email</label><br />
                            <input asp-for="Email" class="form-control form-control-lg" style="margin-bottom: 10px;"  /><br />
                            <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                </div>
                    <h4 style="font-family:Georgia, serif;">Document</h4>
                    <hr />
                <div class="form-group row">
                    <div class="col-md-12">
                            <input asp-for="PhotoProof" class="form-control form-control-lg" style="margin-bottom: 10px;" type="file" accept="image/*" placeholder="Upload ID Proof"  />
                            <small class="text-muted">Please upload picture of your government ID.</small><br />
                            <span asp-validation-for="PhotoProof" class="text-danger"></span>

                    </div>
                    </div><br /><br />
                    
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>
   

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>

