@model string

@if (!String.IsNullOrEmpty(Model))
{
    <img id="logo3" src="~/icon.png" />
    <br />
    <br />
    
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div  id="emailconfirmed"class="alert alert-@statusMessageClass alert-dismissible" role="alert">
       
        Your Email has been confirmed,you can now proceed to login and close this  page.
    </div>
}
