@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p id="confirm" class="w-50 btn btn-lg  ">
    <a id="register" href="./Login">Back to Login</a>

</p>